run = "npm run dev"
entrypoint = "index.js"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[env]
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npx serve -s .next/standalone -l 3000"]

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[[deployment.responseHeaders]]
path = "/*"
name = "Cache-Control"
value = "public, max-age=0, must-revalidate"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Generate Sitemap"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run generate-sitemap"

[[workflows.workflow]]
name = "Build for Deployment"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Build and Test Deployment"
author = 22930014
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve -s .next/standalone -l 3000"
